{%extends "app/index.html"%}

{%block titulo%}
<p class="lead text-white-50 mb-4">Tipos de coberturas de ART</p>
<p class="lead text-white-50 mb-4">Aca te mostramos los planes entre los cuales podes elegir segun tu relacion laboral</p>
<p class="lead text-white-50 mb-4">Para terminar tu proceso de suscripcion, ahora que tenes toda la informacion comunicate con nosotros al 0810-999-9999 de Lunes a Viernes de 8 a 19hs</p>

{%endblock titulo%}

{%block contenido%}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <h3>Trabajo Independiente</h3>
            <ul>
                <li><strong>Precio Mensual:510</strong> {{ independiente.precio }}</li>
                <li><strong>Muerte Accidental:1500000</strong> {{ independiente.muerte_accidental }}</li>
                <li><strong>Invalidez Parcial/Total Permanente:1000000</strong> {{ independiente.invalidez_parcial_total_permanente }}</li>
                <li><strong>Gastos Asistencia Médica:150000</strong> {{ independiente.gastos_asistencia_medica }}</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Relacion de Dependencia</h3>
            <ul>
                <li><strong>Precio Mensual:1000</strong> {{ dependencia.precio}}</li>
                <li><strong>Muerte Accidental:2500000</strong> {{ dependencia.muerte_accidental }}</li>
                <li><strong>Invalidez Parcial/Total Permanente:1500000</strong> {{ dependencia.invalidez_parcial_total_permanente }}</li>
                <li><strong>Gastos Asistencia Médica:250000</strong> {{ dependencia.gastos_asistencia_medica }}</li>
            </ul>
        </div>
    </div>

{% endblock contenido %}

