{%extends "app/index.html"%}

{%block titulo%}
<p class="lead text-white-50 mb-4">Protegiendo tu hogar, cuidando lo que más Amamos
    Obtén una cotización personalizada y selecciona la protección ideal para ti</p>

{%endblock titulo%}

{%block contenido%}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Metros Cubiertos</th>
            <th>Codigo Postal</th>
            <th>Año</th>
            <th>Tipo de propiedad</th>
            <th>Jardin</th>
        </tr>
    </thead>
    <tbody>
    {% for hogar in Hogar  %}
        <tr>
            <td>{{ hogar.metros_cubiertos }}</td>
            <td>{{ hogar.codigo_postal }}</td>
            <td>{{ hogar.año }}</td>
            <td>{{ hogar.tipo_propiedad }}</td>
            <td>{{ hogar.jardin }}</td>            
        </tr>
    {% endfor %}
    </tbody>
</table>
{%endblock contenido%}





    
    
