{%extends "app/index.html"%}

{%block titulo%}
<p class="lead text-white-50 mb-4" style="font-size: 50px;"> MEDIOS DE PAGO</p>
<p class="lead text-white-50 mb-4"><em> Conozca las alternativas de pago disponible para usted</em></p>

{%endblock titulo%}

{%block contenido%}
<h2 class= "lead text-black-40 mb-4">Ante cualquier consulta comunicarse al 0810-999-9999 de Lunes a Viernes de 8 a 19hs</h2>
<h3 class="titulo-destacado"> MEDIOS DE PAGO ELECTRONICOS DISPONIBLES</h3>
<u1 class="lista">
    <li>Red Pago Fácil (Presentando la factura o DNI)
    <li>Rapipago (Presentando la factura o DNI)
    <li>Provincia Net (Presentando la factura o DNI)
    <li>Cobro Express (Presentando la factura)
    <li>Mercado Pago vía Pago Fácil
    <li>Pago Mis Cuentas / Red Banelco
    <li>Red Link
    <li>Transferencia bancaria
</u1>


<h3 class="titulo-destacado"> PREGUNTAS FRECUENTES </h3>
<ul class="lista">
    <li>
        <h4 class="question" style="font-size: 15px;">¿Cómo puedo obtener una cotización?</h4>
        <p class="answer" style="font-size:15px;">Puede obtener una cotización completando el formulario en nuestra página de cotización.</p>
    </li>
    <li>
        <h4 class="question"style="font-size: 15px;">¿Cuáles son los medios de pago aceptados?</h4>
        <p class="answer" style="font-size:15px;">Aceptamos pagos con tarjeta de crédito, transferencia bancaria y PayPal.</p>
    </li>
    <li>
        <h4 class="question"style="font-size: 15px;">¿Cuál es el costo por asegurado en el seguro de vida?</h4>
        <p class="answer" style="font-size:15px;">Cálculo de las Obligaciones de la Seguridad Social (SICOSS), sobre el valor fijo por persona que esté vigente..</p>
    </li>
</ul>        
        

    


{%endblock contenido%}