{%extends "app/index.html"%}

{%block titulo%}
<h1 class="lead text-white-50 mb-4">NUESTRA MISION Y COMPROMISO CON NUESTROS CLIENTES</h1>

{%endblock titulo%}

{%block contenido%}
<h2 class= "lead text-black-50 mb-4">Seguranza Seguros SA se fundó en 1998 en la vibrante ciudad de Buenos Aires, Argentina, con la firme convicción de ofrecer protección y tranquilidad a todos los hogares y familias del país. Nuestra misión es brindar soluciones de seguros innovadoras y confiables que se adapten a las necesidades cambiantes de nuestros clientes, garantizando la seguridad y el bienestar de sus hogares.
    Nos comprometemos a ofrecer un servicio excepcional, basado en la confianza, la transparencia y la atención personalizada. Nuestra visión es ser reconocidos como líderes en la industria de seguros de hogar, siendo referentes en calidad, integridad y compromiso con nuestros asegurados.
    En Seguranza Seguros SA, trabajamos incansablemente para proteger lo que más valoras: tu hogar, tu familia y tus posesiones. Nuestro objetivo es ser tu socio de confianza en momentos de incertidumbre, brindándote la tranquilidad y seguridad que te mereces.</h2>
{%endblock contenido%}