{%extends "app/index.html"%}

{%block titulo%}
<p class="lead text-white-50 mb-4">Protege tu legado con Seguro de Vida Seguranza Seguros SA. Obtén una cotización personalizada y selecciona la protección ideal para ti</p>

{%endblock titulo%}

{%block contenido%}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo Documento</th>
            <th>N° Documento</th>
            <th>N° celular</th>
            <th>Correo Electronico</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
    {% for vida in Vida  %}
        <tr>
            <td>{{ vida.nombre }}</td>
            <td>{{ vida.apellido }}</td>
            <td>{{ vida.tipo_documento }}</td>
            <td>{{ vida.n_numero }}</td>
            <td>{{ vida.n_celular }}</td>
            <td>{{ vida.correo_electronico }}</td>
            <td>{{ vida.edad }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{%endblock contenido%}


